body{ 
	background-color: azure; 
}
#wiskunde{
    width: 280px;
    height: 780px;
    padding: 10px;
    float:left;
    background-color: white;
    border: 2px solid black;
}

#canvas{
    margin: auto;
    background-color: ghostwhite;
    border: 2px solid black;
}